header {
    background-color: #244751;
    color: #E8FDFF;
}
body {
    background-color: #8da7b8;
    font-family: 'Roboto condensed', sans-serif; 
}
main {
    background-color: white;
    padding: 16px;
}
.my-class-name {
    color: red;
}
my-class:hover {
    color: red;
}
#my-unique-id {}
.finstagram-post {
    margin-bottom: 48px;
}
.finstagram-post .user-info img {
    border-radius: 50%;
}
css a.photo:hover{
    padding: 10px; transition: padding 0.5s;
  }
  a.photo{
    transition: padding 0.5s;
  }
  a.photo:hover {
    padding: 10px;
  }