header {
    background-color: #244751;
    color: #E8FDFF;
}
body {
    background-color: whitesmoke;
    font-family: 'Roboto condensed', sans-serif; 
}
main {
    background-color: white;
    padding: 16px;
}
.my-class-name {}
#my-unique-id {}
.finstagram-post {
    margin-bottom: 48px;
}
.finstagram-post .user-info img {
    border-radius: 50%;
}
font-family: 'open-sans'. sans-serif;
body {
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lemon&display=swap" rel="stylesheet">
}
a.photo:hover{
    padding: 10px; transition: padding 0.5s;
  }
  a.photo{
    transition: padding 0.5s;
  }
  a.photo:hover {
    padding: 10px;
  }